/* Fuentes  */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box; 
}

body{
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
}